<div id="contact_form" class="py-8 max-w-3xl mx-auto px-4 lg:px-8 ">
  {% if section.settings.title != blank %}
    <h3 class="text-2xl font-bold tracking-tight text-gray-900 w-full text-center mb-4">
      {{ section.settings.title }}
    </h3>
  {% endif %}

  {% form 'contact' %}
    <div class="grid gap-4">
      {% if form.errors %}
        <div class="bg-red-50 border border-red-200 text-sm text-red-800 rounded-lg p-4 " role="alert">
          <div class="flex">
            <div class="flex-shrink-0">
              {% render 'icon-failed' %}
            </div>
            <div class="ms-4">
              <h3 class="text-sm font-semibold">Error! Your message could not be sent.</h3>
              <div class="mt-2 text-sm text-red-700 ">
                <ul class="list-disc space-y-1 ps-5">
                  {% for error in form.errors %}
                    <li>
                      <span> {{ form.errors.messages[error] | capitalize }}</span>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      {% elsif form.posted_successfully? %}
        <div
          class="bg-teal-50 border  border-teal-200 flex items-center text-sm text-teal-800 rounded-lg p-4 flex"
          role="alert"
        >
          {% render 'icon-success' %}
          <span class="inline-block pl-2"> Your message has been sent successfully.</span>
        </div>
      {% endif %}
      <!-- Grid -->
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div>
          <label for="contact_name" class="block mb-2 text-sm text-gray-700 font-medium ">Name</label>
          <input
            type="text"
            name="contact[name]"
            id="contact_name"
            class="py-3 px-4 block w-full border-2 border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none "
            required
          >
        </div>
        <div>
          <label for="contact_email" class="block mb-2 text-sm text-gray-700 font-medium ">Email</label>
          <input
            type="email"
            name="contact[email]"
            id="contact_email"
            autocomplete="email"
            class="py-3 px-4 block w-full border-2 border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none  "
            required
          >
        </div>
      </div>
      <!-- End Grid -->

      <div>
        <label for="contact_message" class="block mb-2 text-sm text-gray-700 font-medium ">Message</label>
        <textarea
          type="text"
          id="contact_message"
          name="contact[body]"
          rows="4"
          class="py-3 px-4 block w-full border-2 border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none "
        ></textarea>
      </div>
    </div>
    <!-- End Grid -->

    <div class="mt-4 grid">
      <input
        type="submit"
        class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-gray-900 text-white hover:bg-gray-700 disabled:opacity-50 disabled:pointer-events-none "
        value="Submit Message"
      >
    </div>
  {% endform %}
</div>

{% schema %}
{
  "name": "Contact Form",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "Contact Form"
    }
  ]
}
{% endschema %}
