<div class="mx-auto max-w-xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
  <h2 class="text-2xl font-bold tracking-tight text-gray-900 w-full text-center">{{ section.settings.title }}</h2>

  <div class=" mt-10 grid grid-cols-2 lg:grid-cols-4 gap-6">
    {% for product in section.settings.featured_collection.products
      limit: section.settings.number_of_products_to_show
    %}
      {% render 'product-card', product: product %}
    {% else %}
      {% for item in (1..4) %}
        {% render 'product-card-placeholder' %}
      {% endfor %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Featured Collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured Collection",
      "label": "Title"
    },
    {
      "type": "collection",
      "id": "featured_collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "number_of_products_to_show",
      "step": 1,
      "min": 4,
      "max": 12,
      "default": 4,
      "label": "Number of Product"
    }
  ],
  "presets": [
    {
      "name": "Featured Collection"
    }
  ]
}
{% endschema %}
