<footer aria-labelledby="footer-heading" class="bg-white">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-8 border-t border-gray-200 py-20 sm:grid-cols-2 lg:gap-y-0 lg:grid-cols-4">
      {%- for block in section.blocks -%}
        <div>
          {%- if block.settings.heading != blank -%}
            <h3
              class="
                text-sm
                font-medium text-gray-900
              "
            >
              {{ block.settings.heading }}
            </h3>
          {%- endif -%}
          {%- if block.settings.menu != blank -%}
            <ul role="list" class="mt-6 space-y-6">
              {% for link in block.settings.menu.links %}
                <li class="text-sm">
                  <a href="#" class="text-gray-500 hover:text-gray-600">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif -%}
        </div>
      {% endfor %}
    </div>

    <div class="border-t border-gray-100 py-10 sm:flex sm:items-center sm:justify-between">
      <div class="flex items-center justify-center text-sm text-gray-500">
        <p class="mt-6 text-center text-sm text-gray-500 sm:mt-0">&copy;{{ 'now' | date: '%Y' }} Smile, Inc.</p>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "blocks": [
    {
      "type": "link_list",
      "name": "Footer Menu",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Quick links",
          "label": "Links Header"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Footer Menu",
          "default": "footer"
        }
      ]
    }
  ]
}
{% endschema %}
