<div class="bg-white">
  <div class="mx-auto max-w-xl px-4 py-4 sm:px-6 sm:py-8 lg:max-w-7xl lg:px-8">
    <iframe
      class="w-full h-[250px] sm:h-[250px] md:h-[350px] lg:h-[650px] "
      src="{{section.settings.product_description_video}}"
      width="1280"
      height="650"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</div>

{% schema %}
{
  "name": "Video",
  "settings": [
    {
      "type": "video_url",
      "id": "product_description_video",
      "label": "Product description video",
      "accept": ["vimeo"]
    }
  ]
}
{% endschema %}
