<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <div class="flex flex-col md:flex-row justify-start md:justify-between items-start my-5 bg-gray-100 p-4 rounded-lg gap-2">
    <div class="space-y-2">
      <h1 class="text-2xl font-bold md:text-3xl md:leading-tight w-full">
        Addresses</h1>
    </div>
    <div class="flex  justify-end items-center gap-2 w-full ">
      <button type="button" class="py-2 px-3 flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none w-full xs:w-fit block">
        Add new address
      </button>
      <a href="{{ routes.account_url }}" class="py-2 px-3 flex items-center mx-auto justify-center gap-x-2 text-sm font-semibold  rounded-lg border border-blue-600 text-blue-600 hover:border-blue-500 hover:text-blue-500 disabled:opacity-50 disabled:pointer-events-none w-full xs:w-fit block">
        Back to account</a>
    </div>

  </div>
</div>