<div class="text-center py-10 px-4 sm:px-6 lg:px-8">
  <h1 class="block text-7xl font-bold text-gray-800 sm:text-9xl ">{{ section.settings.title }}</h1>
  <p class="text-gray-600 ">{{ section.settings.subtext_title }}</p>
  <div class="mt-5 flex flex-col justify-center items-center gap-2 sm:flex-row sm:gap-3">
    {% if section.settings.button_url == blank %}
      {% assign shop_url = shop.secure_url %}
    {% else %}
      {% assign shop_url = section.settings.button_url %}
    {% endif %}
    <a class="w-full sm:w-auto py-3 px-4 inline-flex justify-center items-center gap-x-1 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none " href="{{ shop_url }}">
      {% render 'icon-back' %}
      {{ section.settings.button_label }}
    </a>
  </div>
</div>
{% schema %}
  {
    "name": "Template 404",
    "tag": "section",
    "class": "flex items-center justify-center text-center py-7 h-[calc(100vh-69px)]",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "404",
        "label": "404 Heading Title"
      }, {
        "type": "text",
        "id": "subtext_title",
        "default": "Sorry, we couldn't find your page.",
        "label": "404 Subtext Title"
      }, {
        "type": "text",
        "id": "button_label",
        "default": "Back to homepage",
        "label": "Button Label"
      }, {
        "type": "url",
        "id": "button_url",
        "label": "Button URL"
      }

    ]
  }
{% endschema %}